@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

*{margin: 0; padding: 0; box-sizing: border-box;font-family:'NanumSquare', sans-serif; text-align: center;}
*::after{display:table;content:"";clear:both;}
a {text-decoration: none;color:inherit;}
li {list-style: none;}
body,html {width:100%; height: 100%;}

/*section nav*/
.main_nav {position: fixed; right: 30px; top: 45%; z-index: 99;}
.main_nav li {width: 15px; height: 15px; margin-bottom :15px; border-radius: 50%; background: #999; cursor: pointer;}
.main_nav li:hover {background: #30ebc0;}
.main_nav li>a>div{width: 15px; height: 15px;}
.logologo{position: absolute; z-index: 99; left: calc(50% - 210px); width: 1wh;margin-top:20px;}

/*one section*/
.one{width: 100%; height: 52vw; background-image: url("../img/title_back.png");}
.member {width: calc(100% / 13); height: 100%; float:left;overflow:hidden;position: relative; background-image: url("../img/title_back.png");background-size: contain;transition:width 0.5s;}
.member img{width:160%;position: absolute;left:-20%; bottom:0px;}
.sung{font-size:1.7vw; text-align: left;font-weight: 900;color:white; margin-left:2%;bottom:36vw; position: absolute;}
.sung span{font-weight: normal;}

.a_01{background-color: #0eb76e;}
.a_02{background-color: #5c6164;}
.a_03{background-color: #f2accb;}
.a_04{background-color: #fee743;}
.a_05{background-color: #f1a848;}
.a_06{background-color: #0089cf;}
.a_07{background-color: #e53d35;}
.a_08{background-color: #b5d75f;}
.a_09{background-color: #fee745;}
.a_10{background-color: #dbe9e9;}
.a_11{background-color: #0fb3ba;}
.a_12{background-color: #9152a9;}
.a_13{background-color: #b6127b;}

/*two section*/
.two {width: 100%; margin:50px 0;}
.two_tit {font-size: 40px; text-align: center; padding-top: 50px; font-weight: normal; letter-spacing: 15px;}
.two_tit > span {font-size: 40px; display: inline-block; color: #30ebc0;}

.club {width: 700px; height: 700px; margin: 0 auto; padding-top: 50px;}
.club li {float:left; width: 50%;  height: 300px; text-align: center;}
.club li h3 {font-size: 24px; margin-bottom: 10px; color: #30ebc0;}
.club li img {width: 167px; height: 165px; margin-bottom: 20px; transition:0.5s;}
.club li img:hover {transform: rotateY(30deg);}

/* sections */
.show{ width:100%; padding:200px 0;}
.des{ width:1200px; position: relative; margin: 0 auto; margin-bottom:60px;}
.des_img{width:55%; float:left;}
.des_img img{width:100%;}
.des_text{width:45%; float:left;position: relative; text-align:center; height:100%;}
.des_t1{font-size:52px; margin-top:30px; font-weight: bold; background: -webkit-linear-gradient(#86ecf9, #2dd8b1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.des_t2{font-size:36px; margin-top:30px; font-weight: bold; }
.des_t3{font-size:20px; margin-top:30px;}
.slide{width:1800px; margin:0 auto;}
.slide li{width:calc(100% / 3); height:300px; float:left;padding:5px;overflow:hidden; position: relative;;}
.slide img{height:100%;position:absolute;left:50%; transform: translateX(-50%);}

/*footer*/
footer {width: 100%; padding:20px; background-color: #393939; color:white;text-align: center;}